<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
  <form th:action="@{/user/find/password}" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control" required>
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${noMatchUsernameAndEmail}">
      <div th:text="${noMatchUsernameAndEmail}"></div>
    </div>
    <div class="alert alert-success" role="alert" th:if="${emailSendMsg}">
      <div th:text="${emailSendMsg}"></div>
    </div>
    <hr class="my-2">
    <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
    <a th:href="@{/user/find/username}" class="btn btn-info" role="button">아이디 찾기</a>
    <a th:href="@{/user/login}" class="btn btn-info" role="button">로그인</a>
  </form>
  <br>
</div>
</html>